<form autocomplete="off" class="d-flex vh-100 w-100 justify-content-center align-items-center overflow-hidden"
    style="background-image: linear-gradient(45deg,var(--primary-color) 50%, var(--secondary-color) 50%);">
    <div class="w-25 text-white p-4 rounded-lg bg-white text-dark">
        <h2 class="text-center" data-lang-text="password_change_title">Forgot Password</h2>
        <div class="d-flex align-items-center w-100 justify-content-between position-relative mb-4">
            <div class="bg-primary-my rounded-circle circle"
                style="width: 1rem; height: 1rem; z-index: 1; transition: 0.3s;">
            </div>
            <div class="bg-dark rounded-circle circle" style="width: 1rem; height: 1rem;z-index: 1; transition: 0.3s;">
            </div>
            <div class="bg-dark rounded-circle circle" style="width: 1rem; height: 1rem;z-index: 1; transition: 0.3s;">
            </div>
            <div class="bg-dark w-100 position-absolute" style="height: 0.2rem; "></div>
            <div class="bg-primary-my position-absolute line-progress"
                style="height: 0.2rem; width: 0px; transition: 0.3s;"></div>
        </div>
        <div id="tab1" class="overflow-hidden">
            <div class="form-group row mx-0">
                <label for="input-email" class="col-form-label" data-lang-text="input-email">Email</label>
                <input type="text" id="input-email" placeholder="Email ..." class="form-control"
                    data-lang-text="input-email">
            </div>
        </div>
        <div id="tab2" class="overflow-hidden" style="max-height: 0;">
            <div class="form-group row mx-0">
                <label for="input-verify-code" class="col-form-label" data-lang-text="input_verify_code">Verification
                    code</label>
                <div class="row justify-content-between w-100 mx-0">
                    <input type="number" maxlength="1" id="input-verify-code1"
                        class="form-control col-2 input-code-verify" autocomplete="off">
                    <input type="number" maxlength="1" id="input-verify-code2"
                        class="form-control col-2 input-code-verify" autocomplete="off">
                    <input type="number" maxlength="1" id="input-verify-code3"
                        class="form-control col-2 input-code-verify" autocomplete="off">
                    <input type="number" maxlength="1" id="input-verify-code4"
                        class="form-control col-2 input-code-verify" autocomplete="off">
                    <input type="number" maxlength="1" id="input-verify-code5"
                        class="form-control col-2 input-code-verify" autocomplete="off">
                </div>
            </div>
            <small class="text-secondary mb-2 d-block" data-lang-text="text_code_sent">A verification code has been sent
                to
                your email.</small>
            <button id="button-resend-email" type="button" style="background-color: transparent;"
                class="border-0 mb-4 text-primary-my small" data-lang-text="text_code_resent" tabindex="-1"></button>
        </div>
        <div id="tab3" class="overflow-hidden" style="max-height: 0;">
            <!-- <div class="form-group row mx-0">
                <label for="input-password" class="col-form-label" data-lang-text="input-password">Password</label>
                <input type="text" id="input-password" placeholder="Password ..." class="form-control"
                    data-lang-text="input_password">
            </div> -->
            <div class="form-group password-group">
                <div class="d-flex justify-content-between">
                    <label for="input-password" class="col-form-label" data-lang-text="input_password">Password</label>
                </div>
                <div class="position-relative">
                    <input type="password" id="input-password" data-lang-text="input_password" class="form-control">
                    <button type="button" tabindex="-1" class="btn position-absolute button-visibility">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                </div>
            </div>
            <div class="form-group password-group">
                <div class="d-flex justify-content-between">
                    <label for="input-password-confirm" class="col-form-label"
                        data-lang-text="input_password_confirm">Password</label>
                </div>
                <div class="position-relative">
                    <input type="password" id="input-password-confirm" data-lang-text="input_password_confirm"
                        class="form-control">
                    <button type="button" tabindex="-1" class="btn position-absolute button-visibility">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                </div>
            </div>
            <!-- <div class="form-group row mx-0">
                <label for="input-password-confirm" class="col-form-label"
                    data-lang-text="input_password_confirm">Password Confirm</label>
                <input type="text" id="input-password-confirm" placeholder="Pasword confirm ..." class="form-control"
                    data-lang-text="input_password_confirm">
            </div> -->
        </div>

        <button type="submit" class="py-2 button-primary-my btn-block"
            data-lang-text="password_change_button_action">Continue</button>
    </div>
    <div class="position-absolute w-100 bg-white py-2 d-flex justify-content-center" style="bottom: 0;left: 0;">
        <a href="./sign_in" class="" data-lang-text="password_change_back">Back to Sign In</a>
    </div>

</form>


<div aria-live="polite" aria-atomic="true" style="position: fixed; bottom:0; left:0" class="w-100">
    <div id="toast-container" style="position: absolute; bottom: 1rem; right: 1rem;">
    </div>
</div>