<div class="main-data-body mb-4 w-50">
    <table id="table-data2" class="table  m-0">
        <tbody>

        </tbody>
    </table>

    <modal-custom type="delete"></modal-custom>
</div>

<div class="border border-dark rounded-lg overflow-hidden w-100">
    <navigation-table></navigation-table>
    <div class="w-100 main-data-body">
        <table id="table-data"
            class="table table-bordered table-striped table-hover m-0 border-top border-bottom border-dark">
            <thead class="bg-primary-my">
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <navigation-table></navigation-table>

</div>